<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <h1 class="c1">Update Details Of a book</h1>
    <div>
        <form class="c2" action="/update" method="POST">
            <div>
                <label>Book Id:</label>
                <input type="number" placeholder="Enter Book Id" name="bid">
            </div>
            <div>
                <label>Stock:</label>
                <input type="number" placeholder="Enter Stock" name="stock">
            </div>
            <br>
            <button type="submit">Update</button>
        </form>
        <a href="/">Home page</a>
    </div>
</body>
</html>